In [1]:
import pandas as pd

## 이태원

In [3]:
df = pd.read_csv('이태원.csv')
df.head()

,_index,_type,_id,_score,YNewsML.Header.SendTime,YNewsML.Header.Action,YNewsML.Header.ServiceType,YNewsML.Header.ContentID,YNewsML.Header.SendDate,YNewsML.Metadata.Category.code,...,knn_vector,NamedEntity,Keyword,Summarization,Quotation,YNewsML.RefContent.Title,YNewsML.RefContent.Href,YNewsML.RefContent.ContentID,YNewsML.RefContent.type,YNewsML.Metadata.Embargo
0,rens_test,_doc,AKR20210925028400004,NaN,124241,C,AKR0,AKR20210925028400004,20210925,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,rens_test,_doc,PYH20210926028700013,NaN,114801,C,PYH0,PYH20210926028700013,20210926,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,rens_test,_doc,PYH20210926028800013,NaN,114810,C,PYH0,PYH20210926028800013,20210926,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,rens_test,_doc,PYH20210926029200013,NaN,114839,C,PYH0,PYH20210926029200013,20210926,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,rens_test,_doc,PYH20210926028900013,NaN,115330,C,PYH0,PYH20210926028900013,20210926,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
NEWS = pd.DataFrame()
NEWS['NEWS_ID'] = df['_id']
NEWS['TITLE'] = df['YNewsML.NewsContent.Title']
NEWS['TIMESTAMP'] = df['send_timestamp']
NEWS['BODY'] = df['YNewsML.NewsContent.Body']
NEWS['PICTURE'] = df['YNewsML.NewsContent.MultiMedia.DataFile.content']
NEWS['URL'] = df['YNewsML.Metadata.Href']
NEWS['REASON_NAME'] = ''
NEWS['CATEGORY_NAME'] = '생활안전'
NEWS['REGION_NAME'] = '서울특별시'
NEWS['NATION'] = df['YNewsML.NewsContent.LangType']
NEWS['ISSUE_ID'] = 1 # 이태원
NEWS
NEWS.to_csv('data/NEWS.csv', index=False)

In [ ]:
NEWS_CATEGORY = pd.DataFrame()
NEWS_CATEGORY[''] = df['']

In [54]:
import json
list_0 = df['YNewsML.Metadata.Class.ClassCode'].tolist()

list_total = []
for j in list_0:
    word = str(j)
    list_1 = word[2:-2].split('}, {')
    word2 = '{' + str(list_total[1]) + '}'
    
    for i in list_1:
        list_total.append(eval(word2))
list_total

["'code': '0501001', 'name': '사회일반'",
 "'code': '0507006', 'name': '보건'",
 "'code': '0712009', 'name': '드라마'",
 "'code': '0704012', 'name': 'OTT'",
 "'code': '0712009', 'name': '드라마'",
 "'code': '0712003', 'name': '방송'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0712009', 'name': '드라마'",
 "'code': '0712003', 'name': '방송'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0712009', 'name': '드라마'",
 "'code': '0712003', 'name': '방송'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0712009', 'name': '드라마'",
 "'code': '0712003', 'name': '방송'",
 "'code': '0501001', 'name': '사회일반'",
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0712001', 'name': '영화'",
 '',
 '',
 '',
 "'code': '0501003', 'name': '인권'",
 "'code': '0602001', 'name': '군사건'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0501003', 'name': '인권'",
 "'code': '0602001', 'name': '군사건'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606013', 'name': '음주사고'",
 "'code': '0801012', 'name': '휴가휴일'",
 "'code': '0606009', 'name': '차사고'",
 "'code': '0506002', 'name': '도로교통'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0204003', 'name': '부동개발'",
 "'code': '0404004', 'name': '건축업'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0501001', 'name': '사회일반'",
 '',
 '',
 "'code': '0101001', 'name': '정치일반'",
 "'code': '0106001', 'name': '중앙행정'",
 '',
 "'code': '0101001', 'name': '정치일반'",
 "'code': '0106001', 'name': '중앙행정'",
 "'code': '0106002', 'name': '총리내각'",
 '',
 '',
 "'code': '0101001', 'name': '정치일반'",
 "'code': '0106001', 'name': '중앙행정'",
 "'code': '0106002', 'name': '총리내각'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0101001', 'name': '정치일반'",
 "'code': '0106001', 'name': '중앙행정'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 "'code': '0102002', 'name': '대통령'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0102001', 'name': '청와일반'",
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0501001', 'name': '사회일반'",
 '',
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0506002', 'name': '도로교통'",
 "'code': '0102002', 'name': '대통령'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0507009', 'name': '응급의료'",
 "'code': '0102002', 'name': '대통령'",
 "'code': '0101001', 'name': '정치일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 '',
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 "'code': '0106002', 'name': '총리내각'",
 "'code': '0102002', 'name': '대통령'",
 "'code': '0501018', 'name': '재난일반'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 '',
 '',
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0507009', 'name': '응급의료'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0507001', 'name': '의료일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0507009', 'name': '응급의료'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0507001', 'name': '의료일반'",
 "'code': '0501001', 'name': '사회일반'",
 '',
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0506001', 'name': '교통일반'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0410002', 'name': '육상운수'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0506001', 'name': '교통일반'",
 "'code': '0507009', 'name': '응급의료'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0507001', 'name': '의료일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0410002', 'name': '육상운수'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0506001', 'name': '교통일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0510002', 'name': '검찰'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0510002', 'name': '검찰'",
 "'code': '0606002', 'name': '육상사고'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 '',
 '',
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': 1101001, 'name': '국제일반'",
 "'code': '0606002', 'name': '육상사고'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0607001', 'name': '재해일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 '',
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 "'code': '0108001', 'name': '외교일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0501001', 'name': '사회일반'",
 '',
 '',
 '',
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 '',
 "'code': '0605001', 'name': '사건일반'",
 "'code': 1101001, 'name': '국제일반'",
 '',
 "'code': '0712002', 'name': '연예'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0108001', 'name': '외교일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0104029', 'name': '국민의힘'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0101001', 'name': '정치일반'",
 "'code': '0104029', 'name': '국민의힘'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0607001', 'name': '재해일반'",
 "'code': '0102002', 'name': '대통령'",
 "'code': '0606002', 'name': '육상사고'",
 "'code': '0701004', 'name': '축제'",
 '',
 '',
 '',
 '',
 '',
 "'code': '0102002', 'name': '대통령'",
 "'code': '0606002', 'name': '육상사고'",
 "'code': '0102002', 'name': '대통령'",
 "'code': '0606002', 'name': '육상사고'",
 '',
 '',
 "'code': '0102002', 'name': '대통령'",
 "'code': '0606002', 'name': '육상사고'",
 "'code': 1101001, 'name': '국제일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 '',
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0108001', 'name': '외교일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0102002', 'name': '대통령'",
 "'code': '0606002', 'name': '육상사고'",
 '',
 '',
 "'code': '0102002', 'name': '대통령'",
 "'code': '0606002', 'name': '육상사고'",
 '',
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': 1101001, 'name': '국제일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': 1101001, 'name': '국제일반'",
 "'code': '0606002', 'name': '육상사고'",
 '',
 '',
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0803001', 'name': '여행'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0411002', 'name': '관광'",
 '',
 "'code': '0503001', 'name': '교육일반'",
 "'code': '0503011', 'name': '교육행정'",
 "'code': '0501018', 'name': '재난일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0101001', 'name': '정치일반'",
 "'code': '0106001', 'name': '중앙행정'",
 "'code': '0106002', 'name': '총리내각'",
 "'code': '0102002', 'name': '대통령'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0605012', 'name': '집회시위'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0605007', 'name': '성범죄'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0107001', 'name': '지방행정'",
 '',
 '',
 '',
 '',
 "'code': 1101001, 'name': '국제일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0108001', 'name': '외교일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0501001', 'name': '사회일반'",
 '',
 "'code': '0701001', 'name': '문화일반'",
 "'code': '0703001', 'name': '종교일반'",
 "'code': '0703002', 'name': '불교'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': 1101001, 'name': '국제일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 '',
 '',
 "'code': '0101001', 'name': '정치일반'",
 "'code': '0103001', 'name': '국회일반'",
 "'code': '0104001', 'name': '정당일반'",
 "'code': '0104020', 'name': '민주당'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0103001', 'name': '국회일반'",
 "'code': '0102002', 'name': '대통령'",
 "'code': '0201001', 'name': '경제일반'",
 "'code': '0301001', 'name': '금융일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0101001', 'name': '정치일반'",
 "'code': '0104029', 'name': '국민의힘'",
 "'code': '0501002', 'name': '사회문제'",
 "'code': '0103001', 'name': '국회일반'",
 "'code': '0101001', 'name': '정치일반'",
 "'code': '0103001', 'name': '국회일반'",
 "'code': '0104001', 'name': '정당일반'",
 "'code': '0104020', 'name': '민주당'",
 '',
 "'code': '0109001', 'name': '국방일반'",
 "'code': '0109008', 'name': '주한미군'",
 "'code': '0108003', 'name': '한미외교'",
 '',
 '',
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0101001', 'name': '정치일반'",
 "'code': '0103001', 'name': '국회일반'",
 "'code': '0104001', 'name': '정당일반'",
 "'code': '0104020', 'name': '민주당'",
 "'code': '0106001', 'name': '중앙행정'",
 "'code': '0401001', 'name': '산업일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0107002', 'name': '지방의회'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0507009', 'name': '응급의료'",
 '',
 "'code': '0106002', 'name': '총리내각'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0106002', 'name': '총리내각'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0106002', 'name': '총리내각'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0106002', 'name': '총리내각'",
 "'code': '0102002', 'name': '대통령'",
 "'code': '0102001', 'name': '청와일반'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0501018', 'name': '재난일반'",
 "'code': '0108001', 'name': '외교일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0106002', 'name': '총리내각'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0106002', 'name': '총리내각'",
 "'code': '0606007', 'name': '안전사고'",
 '',
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0510001', 'name': '사법'",
 "'code': '0510002', 'name': '검찰'",
 "'code': '0106002', 'name': '총리내각'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0106002', 'name': '총리내각'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0106002', 'name': '총리내각'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0106002', 'name': '총리내각'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0704009', 'name': 'SNS'",
 "'code': '0606002', 'name': '육상사고'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0901009', 'name': '게임'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0510004', 'name': '경찰'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0107002', 'name': '지방의회'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 '',
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 "'code': '0501018', 'name': '재난일반'",
 "'code': '0606008', 'name': '안전관리'",
 '',
 '',
 "'code': 1101001, 'name': '국제일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0106001', 'name': '중앙행정'",
 "'code': '0106002', 'name': '총리내각'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0409006', 'name': '백화면세'",
 "'code': '0409001', 'name': '유통일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0101001', 'name': '정치일반'",
 "'code': 1008001, 'name': '북한일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0202001', 'name': '기업일반'",
 "'code': '0401001', 'name': '산업일반'",
 "'code': '0408008', 'name': '전기전자'",
 "'code': '0202002', 'name': '대기업'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0901001', 'name': 'IT'",
 "'code': '0606002', 'name': '육상사고'",
 "'code': '0901010', 'name': '모바일'",
 "'code': '0704003', 'name': '방송사'",
 "'code': '0712003', 'name': '방송'",
 "'code': '0712001', 'name': '영화'",
 '',
 '',
 '',
 '',
 "'code': '0501003', 'name': '인권'",
 "'code': '0605017', 'name': '증오범죄'",
 "'code': '0507002', 'name': '의학'",
 "'code': '0501018', 'name': '재난일반'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0607001', 'name': '재해일반'",
 '',
 "'code': '0712002', 'name': '연예'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0510004', 'name': '경찰'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0501002', 'name': '사회문제'",
 "'code': '0701001', 'name': '문화일반'",
 "'code': '0708003', 'name': '클래식'",
 "'code': '0701003', 'name': '전시공연'",
 '',
 "'code': '0701004', 'name': '축제'",
 "'code': '0107004', 'name': '지방일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0510004', 'name': '경찰'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': 1101001, 'name': '국제일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0801011', 'name': '장례'",
 "'code': '0507001', 'name': '의료일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0101001', 'name': '정치일반'",
 "'code': '0103001', 'name': '국회일반'",
 "'code': '0104001', 'name': '정당일반'",
 "'code': '0104020', 'name': '민주당'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501018', 'name': '재난일반'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0501018', 'name': '재난일반'",
 "'code': '0507009', 'name': '응급의료'",
 "'code': '0507001', 'name': '의료일반'",
 "'code': '0507002', 'name': '의학'",
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0605001', 'name': '사건일반'",
 '',
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0510004', 'name': '경찰'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0107001', 'name': '지방행정'",
 '',
 "'code': '0109001', 'name': '국방일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0801011', 'name': '장례'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': 1101001, 'name': '국제일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0411002', 'name': '관광'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 '',
 '',
 "'code': '0202001', 'name': '기업일반'",
 "'code': '0202002', 'name': '대기업'",
 "'code': '0401001', 'name': '산업일반'",
 "'code': '0408008', 'name': '전기전자'",
 '',
 '',
 '',
 "'code': 1101001, 'name': '국제일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0501018', 'name': '재난일반'",
 "'code': '0801011', 'name': '장례'",
 "'code': '0105004', 'name': '지방선거'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0607001', 'name': '재해일반'",
 '',
 "'code': 1101001, 'name': '국제일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0701004', 'name': '축제'",
 '',
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0605001', 'name': '사건일반'",
 '',
 '',
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 '',
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0605006', 'name': '납치실종'",
 "'code': '0501018', 'name': '재난일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0606008', 'name': '안전관리'",
 "'code': '0503011', 'name': '교육행정'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0503011', 'name': '교육행정'",
 "'code': '0606007', 'name': '안전사고'",
 '',
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0606001', 'name': '사고일반'",
 "'code': '0101001', 'name': '정치일반'",
 "'code': '0102001', 'name': '청와일반'",
 "'code': '0501018', 'name': '재난일반'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': 1101001, 'name': '국제일반'",
 "'code': '0901009', 'name': '게임'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0501001', 'name': '사회일반'",
 "'code': '0503011', 'name': '교육행정'",
 "'code': '0606007', 'name': '안전사고'",
 "'code': '0605001', 'name': '사건일반'",
 "'code': '0107001', 'name': '지방행정'",
 "'code': '0704009', 'name': 'SNS'",
 "'code': '0606002', 'name': '육상사고'",
 "'code': '0605027', 'name': '명예훼손'",
 "'code': '0701004', 'name': '축제'",
 "'code': '0901011', 'name': '인터넷'",
 '',
 "'code': '0606002', 'name': '육상사고'",
 "'code': '0805001', 'name': '건강'",
 "'code': 1101001, 'name': '국제일반'",

In [55]:
list_total[1]

"'code': '0507006', 'name': '보건'"

In [66]:
word2 = '{' + str(list_total[1]) + '}'
word2
type(eval(word2))

dict

## 준엽이가 준 데이터 처리

In [6]:
news1 = pd.read_csv('Iteawon_TABLE.csv')
news2 = pd.read_csv('HIGHWAY_MAINTABLE.csv')

log = pd.read_csv('data/ACCIDENT_CATEGORY.csv')

category1 = pd.read_csv('NEWS_CATEGORY.csv')
category2 = pd.read_csv('HIGHWAY_NEWS_CATEGORY.csv')

#### news

In [9]:
news1.CATEGORY_NAME = '생활안전'
news1.ISSUE_ID = 1
news1.head(2)

,NEWS_ID,TITLE,TIMESTAMP,BODY,PICTURE,URL,CATEGORY_NAME,REGION_NAME,NATION,ISSUE_ID
0,AKR20210925028400004,방역 논란에…이태원역 '오징어게임' 세트장 조기 철수,2021-09-25T12:42:41,방역 논란에 이태원역 '오징어게임' 세트장 조기 철수 송은경 기자 = 서울 지하철 ...,NaN,http://yna.kr/AKR20210925028400004?did=2508m,생활안전,NaN,KR,1
1,PYH20210926028700013,이태원역 '오징어 게임' 세트장 운영 종료,2021-09-26T11:48:01,이태원역 '오징어 게임' 세트장 운영 종료 류효림 기자 = 26일 오전 서울 지하철...,PYH2021092602870001300_P4.jpg,https://www.yna.co.kr/view/PYH2021092602870001...,생활안전,서울,KR,1

In [10]:
news2.CATEGORY_NAME = '화재'
news2.ISSUE_ID = 2
news2.head(2)

,NEWS_ID,TITLE,TIMESTAMP,BODY,PICTURE,URL,CATEGORY_NAME,REGION_NAME,NATION,ISSUE_ID
0,AKR20220114113700001,"이재명 ""경인전철·경인고속도로 지하화…인천을 백신허브로""",2022-01-14T15:04:11,이재명 경인전철 경인고속도로 지하화 인천을 백신허브로 인천 찾아 지역공약 발표 수도...,NaN,http://yna.kr/AKR20220114113700001?did=2508m,화재,NaN,KR,2
1,AKR20220211171900065,제2경인고속도로서 표지석 들이받은 차량 전복…1명 부상,2022-02-11T22:30:43,제2경인고속도로서 표지석 들이받은 차량 전복 1명 부상 손현규 기자 = 11일 오후...,NaN,http://yna.kr/AKR20220211171900065?did=2508m,화재,인천,KR,2

In [11]:
news_total = pd.concat([news1, news2])
news_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2703 entries, 0 to 46
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NEWS_ID        2703 non-null   object
 1   TITLE          2703 non-null   object
 2   TIMESTAMP      2703 non-null   object
 3   BODY           2703 non-null   object
 4   PICTURE        1104 non-null   object
 5   URL            2703 non-null   object
 6   CATEGORY_NAME  2703 non-null   object
 7   REGION_NAME    1257 non-null   object
 8   NATION         2703 non-null   object
 9   ISSUE_ID       2703 non-null   int64
dtypes: int64(1), object(9)
memory usage: 232.3+ KB

In [15]:
news_total.to_csv('data/NEWS.csv', index=False)

#### category

In [18]:
cat_total = pd.concat([category1, category2])
cat_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6782 entries, 0 to 120
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   NEWS_ID         6782 non-null   object
 1   ACCIDENT_INDEX  6176 non-null   float64
dtypes: float64(1), object(1)
memory usage: 159.0+ KB

In [19]:
cat_total.to_csv('data/NEWS_CATEGORY.csv', index=False)

#### ner

In [60]:
h_ner = pd.read_csv('HIGHWAY_NEWS_NER.csv')
nn = pd.read_csv('NEWS_NER.csv')
h_ner

                   NEWS_ID NER_CODE    NER_WORD
0     AKR20221229103400061       LC          과천
1     AKR20221229103400061       LC    과천지식정보타운
2     AKR20221229103400061       DT         29일
3     AKR20221229103400061       TI  오후 1시 55분께
4     AKR20221229103400061       LC         과천시
...                    ...      ...         ...
1166  AKR20221231022600061       MT         아크릴
1167  AKR20221231022600061       TI   오후 4시 12분
1168  AKR20221231022600061       QT        830ｍ
1169  AKR20221231022600061       QT        600ｍ
1170  AKR20221231022600061       QT         41명

[1171 rows x 3 columns]

In [62]:
ner1 = nn[['NEW_ID','NER_WORD']]
ner1.columns = ['NEWS_ID','NER_WORD']
ner2 = h_ner[['NEWS_ID','NER_WORD']]
ner3 = pd.concat([ner1,ner2])
ner3

                   NEWS_ID   NER_WORD
0     AKR20220721060800004         경찰
1     AKR20220721060800004       한강공원
2     AKR20220721060800004        이태원
3     AKR20220721060800004        자전거
4     AKR20220721060800004      서울경찰청
...                    ...        ...
1166  AKR20221231022600061        아크릴
1167  AKR20221231022600061  오후 4시 12분
1168  AKR20221231022600061       830ｍ
1169  AKR20221231022600061       600ｍ
1170  AKR20221231022600061        41명

[59347 rows x 2 columns]

In [63]:
ner3.to_csv('data/NEWS_NER.csv',index=False)

In [ ]:
fn = pd.read_csv('firstNER.csv')

In [ ]:
ner1 = nn[['NER_CODE','NER_WORD']]
ner2 = h_ner[['NER_CODE','NER_WORD']]

In [29]:
list_0 = fn['NamedEntity'].tolist()
list_0[0]

list_1 = []
for i in list_0:
    # list_1.append(json.loads(i))
    list_1.append(eval(i))

len(list_1)

13474

In [36]:
code_list = []
word_list = []
for i in range(13474):
    len_list = len(list_1[i])
    for j in range(len_list):
        code_list.append(list_1[i][j]['code'])
        word_list.append(list_1[i][j]['word'])

In [37]:
df_list = pd.DataFrame()
df_list['NER_CODE'] = code_list
df_list['NER_WORD'] = word_list
df_list

       NER_CODE      NER_WORD
0            DT         3일 이상
1            QT           20%
2            DT            8일
3            OG         고용노동부
4            DT  2019년부터 작년까지
...         ...           ...
261292       TI        한 시간가량
261293       TI       1시간 5분만
261294       DT            이날
261295       TI   오후 10시 45분께
261296       DT            내일

[261297 rows x 2 columns]

In [42]:
df_list = pd.concat([df_list,ner1])
df_list.drop_duplicates(inplace=True)
df_list

      NER_CODE      NER_WORD
0           DT         3일 이상
1           QT           20%
2           DT            8일
3           OG         고용노동부
4           DT  2019년부터 작년까지
...        ...           ...
57970       PS           김상범
58027       OG            32
58030       OG         83기동대
58031       QT         두 기동대
58061       CV         검찰수사관

[57800 rows x 2 columns]

In [54]:
df_list = pd.concat([df_list,ner2])
df_list.drop_duplicates(inplace=True)
df_list

      NER_CODE      NER_WORD
0           DT         3일 이상
1           QT           20%
2           DT            8일
3           OG         고용노동부
4           DT  2019년부터 작년까지
...        ...           ...
57970       PS           김상범
58027       OG            32
58030       OG         83기동대
58031       QT         두 기동대
58061       CV         검찰수사관

[57800 rows x 2 columns]

In [56]:
df_list.to_csv('data/NER.csv',index=False)

#### keyword

In [64]:
rk = pd.read_csv('RELATED_KEYWORD.csv')
fh_key = pd.read_csv('HIGHWAY_RELATED_KEYWORD.csv')

In [69]:
rk = pd.concat([rk, fh_key])
rk.to_csv('data/RELATED_KEYWORD.csv',index=False)

In [78]:
name = rk[['KEYWORD_NAME']].drop_duplicates()
type(name)

pandas.core.frame.DataFrame

In [80]:
name.to_csv('data/KEYWORD.csv',index=False)

## issue

In [3]:
df = pd.DataFrame(columns=['ISSUE_ID','TITLE','START_DATE','END_DATE','SUMMARY','REGION_NAME','NATION'])

In [5]:
new_data = {
    'ISSUE_ID' : 1,
    'TITLE' : '이태원 압사 사고',
    'START_DATE' : '20221029',
    'END_DATE' : '20221030',
    'SUMMARY' : '29일 밤 서울 용산구 이태원동 일대에 핼러윈을 앞두고 인파가 최소 수만 명이 한꺼번에 몰리면서 대형 압사 참사가 났다. 소방당국은 이날 벌어진 압사 사고로 59명이 숨지고 150명이 부상했다고 집계했다. 이태원 일대에서는 핼러윈을 앞둔 주말인 이날 밤 곳곳에서 파티가 벌어졌다.',
    'REGION_NAME' : '서울특별시',
    'NATION' : 'KR'
}
df = df.append(new_data, ignore_index=True)
df

C:\Users\user\AppData\Local\Temp\ipykernel_40524\3761118072.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_data, ignore_index=True)

,ISSUE_ID,TITLE,START_DATE,END_DATE,SUMMARY,REGION_NAME,NATION
0,1,이태원 압사 사고,20221029,20221030,29일 밤 서울 용산구 이태원동 일대에 핼러윈을 앞두고 인파가 최소 수만 명이 한꺼...,서울특별시,KR

In [6]:
new_data = {
    'ISSUE_ID' : 2,
    'TITLE' : '제2경인고속도로 화재',
    'START_DATE' : '20221229',
    'END_DATE' : '20221229',
    'SUMMARY' : '29일 오후 1시 49분께 경기도 과천시 갈현동 제2경인고속도로 북의왕IC 인근 방음터널 구간에서 불이 나 소방당국이 진화작업에 나섰다. 이 불로 현재까지 2명이 숨진 것으로 파악됐다. 트럭에서 발생한 불이 방음터널로 옮겨붙으면서 다량의 연기와 함께 순식간에 확산한 것으로 추정된다.',
    'REGION_NAME' : '경기도',
    'NATION' : 'KR'
}
df = df.append(new_data, ignore_index=True)
df

C:\Users\user\AppData\Local\Temp\ipykernel_40524\2211731832.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_data, ignore_index=True)

,ISSUE_ID,TITLE,START_DATE,END_DATE,SUMMARY,REGION_NAME,NATION
0,1,이태원 압사 사고,20221029,20221030,29일 밤 서울 용산구 이태원동 일대에 핼러윈을 앞두고 인파가 최소 수만 명이 한꺼...,서울특별시,KR
1,2,제2경인고속도로 화재,20221229,20221229,29일 오후 1시 49분께 경기도 과천시 갈현동 제2경인고속도로 북의왕IC 인근 방...,경기도,KR

In [7]:
df.to_csv('data/ISSUE.csv',index=False)

## NEWS reason column add.

In [84]:
import pandas

news = pandas.read_csv('data/NEWS.csv')
news['REASON_NAME'] = ''

In [88]:
news.columns
news = news[['NEWS_ID', 'TITLE', 'TIMESTAMP', 'BODY', 'PICTURE', 'URL', 'REASON_NAME',
       'CATEGORY_NAME', 'REGION_NAME', 'NATION', 'ISSUE_ID']]
news.columns

Index(['NEWS_ID', 'TITLE', 'TIMESTAMP', 'BODY', 'PICTURE', 'URL',
       'REASON_NAME', 'CATEGORY_NAME', 'REGION_NAME', 'NATION', 'ISSUE_ID'],
      dtype='object')

In [89]:
news.to_csv('data/NEWS.csv',index=False)