In [2]:
import pandas as pd

In [27]:
# 지역 csv 만들기

region = pd.DataFrame()
region['REGION_NAME'] = report1.region
region.to_csv('data/REGION.csv', index=False)
region

   REGION_NAME
0        서울특별시
1        부산광역시
2        대구광역시
3        인천광역시
4        광주광역시
5        대전광역시
6        울산광역시
7          경기도
8          강원도
9         충청북도
10        충청남도
11        전라북도
12        전라남도
13        경상북도
14        경상남도
15     제주특별자치도
16     세종특별자치시

In [29]:
# 지역(시군구읍면리) csv 만들기

gugun = pd.read_csv('국토교통부_전국 법정동_20221031.csv')
g1 = gugun[gugun.삭제일자.isnull()].iloc[:,0:5]
# g1.drop_duplicates(subset='법정동코드')
g1.dropna(inplace=True)
g1.columns = ['REGION_DETAIL_ID','REGION_NAME','REGION_D1','REGION_D2','REGION_D3']
g1.to_csv('data/REGION_DETAIL.csv', index=False)
g1

       REGION_DETAIL_ID REGION_NAME REGION_D1 REGION_D2 REGION_D3
0            4223033031         강원도       삼척시       노곡면      상군천리
1            4223033032         강원도       삼척시       노곡면       둔달리
2            4223033033         강원도       삼척시       노곡면       주지리
3            4223033034         강원도       삼척시       노곡면      하마읍리
4            4223033035         강원도       삼척시       노곡면      중마읍리
...                 ...         ...       ...       ...       ...
46290        5013025326     제주특별자치도      서귀포시       남원읍       신흥리
46291        5013025327     제주특별자치도      서귀포시       남원읍       위미리
46292        5013025328     제주특별자치도      서귀포시       남원읍       하례리
46293        5013025329     제주특별자치도      서귀포시       남원읍       신례리
46295        5013025921     제주특별자치도      서귀포시       성산읍       성산리

[15213 rows x 5 columns]