In [47]:
import pandas as pd
report1 = pd.read_csv('original/소방청_소소심 익히기 소방안전교육 현황_20211231.csv')
report2 = pd.read_excel('original/시도별_산업별_총괄_20230125133820.xlsx')
report3 = pd.read_excel('original/시도별노후건축물수_2021.xlsx')
# report4 = pd.read_csv('original/예산~~~~.csv')

c:\Users\user\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [19]:
# 소방청_소소심 익히기 소방안전교육 현황_20211231
SAFETY_TRAINING = pd.DataFrame()
SAFETY_TRAINING['REGION_NAME'] = report1.본부별
SAFETY_TRAINING['YEAR'] = 2021
SAFETY_TRAINING['TRAINED_PERSON'] = report1['유아 인원'] + report1['초등학생(저) 인원'] + report1['초등학생(고) 인원'] + report1['중고등학생 인원'] + report1['성인 인원'] + report1['노인 인원'] + report1['장애인 인원'] + report1['외국인 인원']
SAFETY_TRAINING['CATEGORY_NAME'] = '화재'

SAFETY_TRAINING.to_csv('data/SAFETY_TRAINING.csv', index=False)
SAFETY_TRAINING

   REGION_NAME  YEAR  TRAINED_PERSON CATEGORY_NAME
0           서울  2021          527422            화재
1           부산  2021          153584            화재
2           대구  2021          217820            화재
3           인천  2021          322980            화재
4           광주  2021          101802            화재
5           대전  2021           55046            화재
6           울산  2021           62494            화재
7           세종  2021           20060            화재
8           경기  2021         1852470            화재
9           강원  2021          124478            화재
10          충북  2021           50724            화재
11          충남  2021          117220            화재
12          전북  2021          129638            화재
13          전남  2021          119746            화재
14          경북  2021          144192            화재
15          경남  2021          134288            화재
16          창원  2021          111484            화재
17          제주  2021          128822            화재

In [33]:
# 시도별 노후건축물 수
report3 = report3.dropna()
OLD_BUILDING = pd.DataFrame()
OLD_BUILDING['REGION_NAME'] = report3.구분[1:]
OLD_BUILDING['YEAR'] = 2021
OLD_BUILDING['BUILDING_NUM'] = report3.합계[1:]
OLD_BUILDING['CATEGORY_NAME'] = '화재'

OLD_BUILDING.to_csv('data/OLD_BUILDING.csv', index=False)
OLD_BUILDING

    REGION_NAME  YEAR BUILDING_NUM CATEGORY_NAME
10        서울특별시  2021       585636            화재
19        부산광역시  2021       352894            화재
28        대구광역시  2021       240513            화재
37        인천광역시  2021       219832            화재
46        광주광역시  2021       138328            화재
55        대전광역시  2021       132169            화재
64        울산광역시  2021       137792            화재
73      세종특별자치시  2021        35159            화재
82          경기도  2021      1230057            화재
91          강원도  2021       428405            화재
100        충청북도  2021       400386            화재
109        충청남도  2021       553811            화재
118        전라북도  2021       461109            화재
127        전라남도  2021       657391            화재
136        경상북도  2021       832707            화재
145        경상남도  2021       724124            화재
154     제주특별자치도  2021       183951            화재

In [52]:
# 시도별 창고/운송업 수

report2 = report2.fillna(method='ffill')
report2 = report2[report2.산업별 == '창고 및 운송관련 서비스업']

WAREHOUSE_TRANSIT = pd.DataFrame()
WAREHOUSE_TRANSIT['REGION_NAME'] = report2.시도별[1:]
WAREHOUSE_TRANSIT['YEAR'] = 2020
WAREHOUSE_TRANSIT['SERVICE_NUM'] = report2['2020'][1:]
WAREHOUSE_TRANSIT['CATEGORY_NAME'] = '화재'

WAREHOUSE_TRANSIT.to_csv('data/WAREHOUSE_TRANSIT.csv', index=False)
WAREHOUSE_TRANSIT

   REGION_NAME  YEAR  SERVICE_NUM CATEGORY_NAME
10       서울특별시  2020         5057            화재
15       부산광역시  2020         3957            화재
19       대구광역시  2020          877            화재
24       인천광역시  2020         1609            화재
28       광주광역시  2020          447            화재
33       대전광역시  2020          367            화재
38       울산광역시  2020          531            화재
42     세종특별자치시  2020           41            화재
47         경기도  2020         3551            화재
52         강원도  2020          397            화재
56        충청북도  2020          641            화재
61        충청남도  2020          701            화재
65        전라북도  2020          684            화재
69        전라남도  2020          799            화재
73        경상북도  2020         1096            화재
78        경상남도  2020         1495            화재
83     제주특별자치도  2020          221            화재