# 연합뉴스 API
- index =  rens_testa
- 내부_ip : 192.168.1.66 , 외부_ip: 1.225.38.51
- port : 9206

In [2]:
from pandasticsearch import Select
from elasticsearch import Elasticsearch
import pandas as pd
from tqdm.notebook import tqdm

In [3]:
#엘라스틱서치 연결
es = Elasticsearch(hosts='1.225.38.51', port=9206, timeout=30, max_retries=10, retry_on_timeout=True)

In [4]:
body= {
  "query": {"match_all": {
  
}}}
result = es.search(index='rens_test', body=body, request_timeout=30)

In [5]:
Select.from_dict(result).to_pandas()

,_index,_type,_id,_score,YNewsML.Header.SendTime,YNewsML.Header.Action,YNewsML.Header.ServiceType,YNewsML.Header.ContentID,YNewsML.Header.SendDate,YNewsML.Metadata.Category.code,...,YNewsML.NewsContent.SubTitle,send_timestamp,YNewsML.Metadata.Class.ClassCode,YNewsML.Metadata.Region.RegionCode.code,YNewsML.Metadata.Region.RegionCode.name,YNewsML.Metadata.Region.RegionCode,YNewsML.Metadata.Category,YNewsML.NewsContent.Comment,YNewsML.Metadata.Attribute.AttributeCode.code,YNewsML.Metadata.Attribute.AttributeCode.name
0,rens_test,_doc,AKR20201219035300009,1.0,124924,C,AKR0,AKR20201219035300009,20201219,06,...,"펜스 등 지도급 인사들 백신 맞은 날, 트럼프 접종 일정은 불투명 \r\n'러 배후...",2020-12-19T12:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,rens_test,_doc,AKR20201219035800530,1.0,110004,C,AKR0,AKR20201219035800530,20201220,02,...,자율차 시범운행지구 규제특례 1호 서비스 실증 '시동',2020-12-20T11:00:04,"[{'code': '0405004', 'name': '자동차'}, {'code': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,rens_test,_doc,AKR20201219035900064,1.0,124139,C,AKR0,AKR20201219035900064,20201219,07,...,NaN,2020-12-19T12:41:39,NaN,7012002.0,괴산,NaN,NaN,NaN,NaN,NaN
3,rens_test,_doc,AKR20201219036000005,1.0,122345,C,AKR0,AKR20201219036000005,20201219,04,...,NaN,2020-12-19T12:23:45,"[{'code': '0712004', 'name': '가요'}, {'code': '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,rens_test,_doc,AKR20201219036100064,1.0,150119,C,AKR0,AKR20201219036100064,20201219,07,...,퇴원 전 검사 결과 안 보고 환자 내보내 소망병원 36명 집단감염\r\n안양 요양병...,2020-12-19T15:01:19,"[{'code': '0507007', 'name': '질병'}, {'code': '...",NaN,NaN,"[{'code': 7012002, 'name': '괴산'}, {'code': 701...",NaN,NaN,NaN,NaN
5,rens_test,_doc,AKR20201219036200001,1.0,123618,C,AKR0,AKR20201219036200001,20201219,01,...,NaN,2020-12-19T12:36:18,"[{'code': '0101001', 'name': '정치일반'}, {'code':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,rens_test,_doc,AKR20201219036400003,1.0,070101,C,AKR0,AKR20201219036400003,20201220,02,...,LCC 국내선 확대 영향…제주공항 11월 한달간 7천70편 운항\r\n코로나19 재...,2020-12-20T07:01:01,"[{'code': '0410004', 'name': '항공운수'}, {'code':...",7002001.0,서울,NaN,NaN,NaN,NaN,NaN
7,rens_test,_doc,AKR20201219036651056,1.0,173551,C,AKR0,AKR20201219036651056,20201219,NaN,...,"한라사우나 41명, 김녕성당 27명, 성안교회 10명으로 늘어",2020-12-19T17:35:51,"[{'code': '0501001', 'name': '사회일반'}, {'code':...",7010001.0,제주도,NaN,"[{'code': '07', 'name': '지방'}, {'code': '03', ...",오후 5시 현재 제주지역 코로나19 확진자 상황 추가해 종합 처리합니다. 제목과 부...,NaN,NaN
8,rens_test,_doc,AKR20201219036900003,1.0,073500,C,AKR0,AKR20201219036900003,20201220,02,...,1∼11월 국내 판매량 12만2천여대…14개 차급 중 6위\r\n코로나로 넓은 공간...,2020-12-20T07:35:00,"[{'code': '0405004', 'name': '자동차'}, {'code': ...",NaN,NaN,NaN,NaN,NaN,9001885.0,신종코로
9,rens_test,_doc,AKR20201219037100074,1.0,132956,C,AKR0,AKR20201219037100074,20201219,06,...,NaN,2020-12-19T13:29:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
index = 'rens_test'

def make_body(start, size=1000):
    #쿼리 정의 (전체 데이터 불러오기) 
    body= {
        "track_total_hits" : True,
        "from": start,
        "size": start+size, 
        "query": {"match_all": { }
        }}
    return body

In [7]:
size = 1000
#Data 전체 수 가져오기
total = es.search(index= index, body=make_body(start=0))['hits']['total']['value']
#Data 형태 보기
total1 = es.search(index= index, body=make_body(start=0))

In [8]:
total

1017746

In [9]:
df = pd.DataFrame()

In [10]:
index = 'rens_test'

def make_body(start, size=1000):
    #쿼리 정의 (전체 데이터 불러오기) 
    body= {
        "track_total_hits" : True,
        "from": start,
        "size": start+size, 
        "query": {"match_all": { }
        }}
    return body

In [36]:
index = 'rens_test'
size = 10000
df = pd.DataFrame()

for i in tqdm(range(0, total+size, size)):
        #데이터 불러오기
        result = es.search(index= index, sort='send_timestamp', body=make_body(start=i, size=size), request_timeout=600000)
        #데이터 type이 dict이므로 dataframe으로 변환, df에 저장
        df = Select.from_dict(result).to_pandas()

  0%|          | 0/103 [00:00<?, ?it/s]

In [41]:
df

In [37]:
df.to_csv('df.csv')

AttributeError: 'NoneType' object has no attribute 'to_csv'